@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  
  .contaiiner {
  background-color: #DBE7C9;
  width: 100%;
  height: auto; /* Cambia a auto para que el contenedor ajuste su altura según el contenido */
  display: flex;
  align-items: flex-start; /* Alinea los elementos en la parte superior */
  justify-content: center;
  padding-top: 20px; /* Agrega un poco de espacio en la parte superior */
  }
  
  nav {
    background: #fff;
  border-radius: 50px;
  padding: 10px;
  box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.4);
  margin-bottom: 20px; /* Agrega margen inferior para separar el nav del contenido siguiente */
  }
  
  nav ul {
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    list-style: none;
    display: inline-block;
    padding: 13px 35px;
    margin: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #777;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.5s;
  }
  
  nav ul li::after {
    content: '';
    background: #114232;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
  }
  
  nav ul li:hover {
    color: #fff;
  }
  
  nav ul li:hover::after {
    top: 50%;
    opacity: 1;
  }
  

.customBack{
    background-color: #DBE7C9;
    height: 100%;
}

.container{
    margin-top: 10px;
}

.co {
    text-align: center;
    font-size: 18px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #114232;
    border: 1px solid #DBE7C9;
    color: white;
  }
  
  .col {
    text-align: center;
    font-size: 14px;
    padding-right: 10px;
    padding-left: 10px;
    border: 2px solid #DBE7C9;
    background: #fff;
  }
  
  table {
    border-collapse: collapse;
    margin: 0 auto; 
    width: 150%; 
    max-width: 1200px; 
    height: auto; 
    overflow: hidden; /* Para aplicar border-radius correctamente */
    border-radius: 20px; /* Ajusta el radio de las esquinas */
  }


  .customBack {
    position: relative;
    height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-start; /* Ajusta esto según necesites */
    padding-top: 50px; /* Ajusta este valor para mover la tabla hacia abajo */
} 

  .btn {
    color: #ffffff;
    border-radius: 100px;
    background-color: #114232;
    padding: 8px 10px;
    font-size: xx-large;
    height: 50px;
    width: 50px;
}

.btn:hover{
    color: #789461;
}

.btn-position {
    position: absolute;
    top: 500px; /* Distancia desde el borde superior */
    right: 50px; /* Distancia desde el borde derecho */
}

.button-container {
    display: flex;
    flex-direction: column; /* Disposición vertical */
    gap: 10px; /* Espacio entre los botones */
}

.btn-actualizar, .btn-borrar {
    padding: 0.7em 1em; /* Reduce el padding */
    font-size: 10px; /* Reduce el tamaño de la fuente */
    letter-spacing: 1.5px; /* Reduce el espaciado entre letras */
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 20px; /* Reduce el radio del borde */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Ajusta la sombra para un botón más pequeño */
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  .btn-actualizar:hover, .btn-borrar:hover {
    background-color: #23c483;
    box-shadow: 0px 8px 15px rgba(46, 229, 157, 0.4); /* Ajusta la sombra para el estado hover */
    color: #fff;
    transform: translateY(-3px); /* Ajusta la transformación para el estado hover */
  }
  
  .btn-actualizar:active, .btn-borrar:active {
    transform: translateY(-1px); /* Mantén la transformación activa */
  }
  
